html{
    padding: 25px;
    overflow-x: auto;
}

nav.navbar {
    color: white;
    background: black;
    margin: -25px;
    margin-bottom: 20px;
    padding: 15px;
    padding-left: 25px;
}

nav.navbar > a {
    color: white;
    padding-left: 25px;
}

a.btn {
    width: 100%;
}